*{
    margin: 0;
    padding: 0;
}

section{
    font-family:Arial, sans-serif;
}

.vid{
    margin-bottom: 2pc;
}

.c1{
    display: flex;
    justify-content: center;


}

.card1{
    margin: 10px;
    padding: 20px;
    border: 0.5px solid hsl(61, 100%, 50%);
    border-radius: 10px;
    box-shadow: 0 0 10px hsla(61, 100%, 52%, 0.445);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: rgb(98, 103, 107);
}

.car-img > img{
    opacity: 60%;
}

.con-car{
    padding-left:20px; 
}




.clg{
 display: flex;
 justify-content: center;
 align-items: center;
}

.clg-img > img{
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(203, 235, 89),
    0 0 50px rgb(203, 235, 89),
    0 0 100px rgb(203, 235, 89);
}

.con-clg{
    
    top: 0;
    left: 50rem;
    position:absolute;
}

.sub-con-clg{
    
    top: 120px;
    left: 50rem;
    position:absolute;
    font-size: small;
    font-weight:0;
    color: rgb(73, 73, 73);
}

